//COLOR

$color-primary: #EDD1F0;
$color-primary-brightish: #f084ca;
$color-primary-bright:#ed6bbf;
$color-primary-dark: #eb7f7f;

$color-secondary: #008cff;

$color-tertiary: #ECA7FF;

$color-white: #F8F8FF;
$color-off-white: #f5f5f5;

$color-grey-light-1: #f7f7f7;
$color-grey-dark: #777;

$color-black: #000;



//FONT

$default-font-size: 1.6rem;


/* Custom Fonts */

@font-face { 
    font-family: Linea01; 
    src: url('linea01.ttf'); 
} 

 /*   @font-face {
	     font-family: 'Linea01';
	     src: url('linea01.eot'); // IE9 Compat Modes
	     src: url('linea01.eot?#iefix') format('embedded-opentype'), // IE6-IE8
         url('linea01.woff') format('woff'), // Modern Browsers
	     url('linea01.ttf')  format('truetype'), // Safari, Android, iOS 
        url('Linea01.svg#svgFontName') format('svg'); // Legacy iOS 
    }
    For bold and italic make suree to use font weight and dont style properties
 */

 
 /* End Custom Fonts */
 

// GRID

$grid-width: 114rem;
$grid-vertical-gutter: 0;
$grid-horizontal-gutter: 0;
