/* Custom Fonts */
@font-face {
  font-family: Linea01;
  src: url("linea01.ttf");
}

/*   @font-face {
	     font-family: 'Linea01';
	     src: url('linea01.eot'); // IE9 Compat Modes
	     src: url('linea01.eot?#iefix') format('embedded-opentype'), // IE6-IE8
         url('linea01.woff') format('woff'), // Modern Browsers
	     url('linea01.ttf')  format('truetype'), // Safari, Android, iOS 
        url('Linea01.svg#svgFontName') format('svg'); // Legacy iOS 
    }
    For bold and italic make suree to use font weight and dont style properties
 */
/* End Custom Fonts */
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes slideRight {
  0% {
    opacity: 0;
    translate: translateX(12rem);
  }
  10% {
    opacity: 0;
    -webkit-transform: translateX(10rem);
            transform: translateX(10rem);
  }
  100% {
    opacity: 1;
  }
}

@keyframes slideRight {
  0% {
    opacity: 0;
    translate: translateX(12rem);
  }
  10% {
    opacity: 0;
    -webkit-transform: translateX(10rem);
            transform: translateX(10rem);
  }
  100% {
    opacity: 1;
  }
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  color: #777;
  padding: 3rem;
  font-family: "Lato", sans-serif;
  line-height: 1.7;
  font-weight: 400;
}

.heading-primary {
  color: #008cff;
  text-transform: uppercase;
  font-family: Linea01, sans-serif;
  margin-bottom: 16rem;
}

.heading-primary--main {
  display: block;
  font-size: 4.5rem;
  font-weight: 600;
  letter-spacing: .5rem;
  -webkit-animation: fadeIn 4s ease-in;
          animation: fadeIn 4s ease-in;
  text-shadow: 0.22rem 0.1rem 0.5rem rgba(0, 0, 0, 0.35);
}

.heading-primary--sub {
  display: block;
  font-size: 3rem;
  font-weight: 700;
  letter-spacing: .20rem;
  -webkit-animation: fadeIn 5s ease-in;
          animation: fadeIn 5s ease-in;
  text-shadow: 0.3rem 0.1rem 0.5rem rgba(0, 0, 0, 0.36);
}

.heading-secondary {
  margin-top: 4rem;
  position: absolute;
}

.heading-secondary--main {
  position: absolute;
}

.u-center-text {
  text-align: center;
}

.u-margin-bottom-small {
  margin-bottom: 1.5rem;
}

.u-margin-bottom-medium {
  margin-bottom: 4rem;
}

.u-margin-bottom-big {
  margin-bottom: 8rem;
}

.u-margin-top-big {
  margin-top: 8rem;
}

.u-margin-top-huge {
  margin-top: 10rem;
}

.btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 2rem;
  display: inline-block;
  font-size: 1.2rem;
  border-radius: 2rem;
  -webkit-box-shadow: 0.3rem 0.1rem 0.5rem rgba(0, 0, 0, 0.25);
          box-shadow: 0.3rem 0.1rem 0.5rem rgba(0, 0, 0, 0.25);
  -webkit-animation: slideRight 5.5s ease-in;
          animation: slideRight 5.5s ease-in;
}

.btn:hover {
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
  -webkit-box-shadow: 0.5rem 0.2rem 0.5rem rgba(0, 0, 0, 0.25);
          box-shadow: 0.5rem 0.2rem 0.5rem rgba(0, 0, 0, 0.25);
}

.btn:active {
  -webkit-transform: translateY(-1px);
          transform: translateY(-1px);
  -webkit-box-shadow: 0.2rem 0.5rem 0.5rem rgba(0, 0, 0, 0.15);
          box-shadow: 0.2rem 0.5rem 0.5rem rgba(0, 0, 0, 0.15);
}

.btn--pink {
  background-color: #eb7f7f;
  color: #008cff;
}

.heading-secondary {
  position: relative;
}

.heading-secondary--main {
  position: absolute;
}

.navigation__button {
  background-color: #F8F8FF;
  height: 7rem;
  width: 7rem;
}

.navigation__background {
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  position: fixed;
  top: 6.5rem;
  right: 6.5rem;
  background-image: radial-gradient(#EDD1F0, #eb7f7f);
  z-index: 1000;
}

.header {
  height: 85vh;
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(248, 248, 255, 0.02)), to(rgba(245, 245, 245, 0.65))), url(../img/cakemacron.jpg);
  background-image: linear-gradient(to right bottom, rgba(248, 248, 255, 0.02), rgba(245, 245, 245, 0.65)), url(../img/cakemacron.jpg);
  background-size: cover;
  background-position: top;
  position: relative;
  margin-bottom: 3rem;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
}

.header__logo-box {
  position: absolute;
  top: 4rem;
  left: 4rem;
}

.header__logo {
  height: 5.5rem;
}

.header__text-box {
  position: absolute;
  top: 20%;
  right: 3%;
  text-align: center;
}

/* Site Navigation */
:before,
:after {
  content: "";
  display: table;
}

:after {
  clear: both;
}

/* End Site Navigation */
.space {
  padding: 15rem 0;
}
/*# sourceMappingURL=cakemain.css.map */