.btn {
    
    &:link,
    &:visited {
        text-transform : uppercase;
        text-decoration: none;
        padding: 1.5rem 2rem;
        display: inline-block;
        font-size: 1.2rem;
        border-radius: 2rem;
        box-shadow: .3rem .1rem .5rem rgba($color-black, .25);
        animation: slideRight 5.5ts ease-in;
        
    }

    &:hover {
        transform: translateY(-3px); //negative value goes up
        box-shadow: .5rem .2rem .5rem rgba($color-black, .25);
    }

    &:active {
        transform: translateY(-1px);
        box-shadow: .2rem .5rem .5rem rgba($color-black, .15);
    }



    &--pink {
        background-color: $color-primary-dark;
        color: $color-secondary;
    }
}