body {
    color: $color-grey-dark;
    padding: 3rem;
    font-family: "Lato", sans-serif;
    line-height: 1.7;
    font-weight: 400;
}

.heading-primary  {
    color: $color-secondary;
    text-transform: uppercase;
    font-family: Linea01, sans-serif;

    margin-bottom: 16rem;

    &--main {
        display: block;
        font-size: 4.5rem;
        font-weight: 600;
        letter-spacing: .5rem;
        animation: fadeIn 4s ease-in;
    }

    &--sub {
        display: block;
        font-size: 3rem;
        font-weight: 700;
        letter-spacing: .20rem;
        animation: fadeIn 5s ease-in;
        
    }
}